/* ske-ns- 识别标志不可删除 */

body {
    margin: 0;
}

.ske-ns-root {
    flex-direction: column;
}

.ske-ns-flex {
    display: flex;
}

.ske-ns-filling {
    background-color: lightgrey;
    opacity: 0.5;
}

.ske-ns-header {
    height: 50px;
    margin: 0 0 30px 0;
    justify-content: space-between;
    align-items: center;
    background: #406dad;
}

.ske-ns-brand {
    width: 120px;
    height: 30px;
    margin: 0 0 0 20px;
}

.ske-ns-topnav {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin: 0 20px 0 0;
}

.ske-ns-menu {
    width: 200px;
    flex-direction: column;
    margin: 0 0 0 20px;
}

.ske-ns-item {
    width: 165px;
    height: 30px;
    margin-bottom: 15px;
}

.ske-ns-content {
    margin: 0 40px;
    height: 600px;
    flex: 1 1 auto;
}